* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 13px;
}

.caja-principal {
    width: 420px;
    height: auto;
    background-color: white;
}

.encabezado {
    width: 420px;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 12px 0px 12px 7px;
}

.cajahtml {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
}

.cajaellipsis {
    width: auto;
    height: auto;
}

.imagen {
    width: 420px;
    height: auto;
}

img {
    width: 420px;
    height: auto;
}

.caja-awesomes {
    display: flex;
    justify-content: space-between;
    width: 420px;
    height: auto;
    padding: 10px;
}

.caja-tres-awesome {
    width: auto;
    height: auto;
    display: flex;
}

.caja-bookmark-awesome {
    width: auto;
    height: auto;
    display: flex;
}

.texto {
    width: 420px;
    height: auto;
    padding: 12px 0px 25px 12px;
}